<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>method</key>
	<string>app-store</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>com.tonggarden.easysales</key>
		<string>EasySales-Prod-Provisioning-Profile</string>		
	</dict>
	<key>method</key>
	<string>ad-hoc</string>
	<key>provisioningProfiles</key>
	<dict>		
		<key>com.tonggarden.easysales.qa</key>
		<string>EasySales-QA-Provisioning-Profile</string>		
	</dict>
	<key>method</key>
	<string>development</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>com.tonggarden.easysales.dev</key>
		<string>EasySales-Dev-Provisioning-Profile</string>		
	</dict>
	<key>signingCertificate</key>
	<string>iPhone Distribution</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>teamID</key>
	<string>FCUZNYGQMQ</string>	
</dict>
</plist>